{% extends "base.html" %}

{% block topbar %}
    <h3>{{ title }}</h3>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8 mb-4">
            {% for author in authors %}
                <div class="row mb-4 align-items-center">
                    <div class="col-4 col-sm-3 col-md-2 ">
                        <a href="{{ author.href }}" class="text-decoration-none">
                            <img src="{{ author.thumbnail}}" class="img-thumbnail rounded-circle">
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ author.href }}" class="text-decoration-none">
                            <h3 class="mb-1 fw-normal text-dark">
                                {{ author.title }}
                            </h3>
                        </a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
